#StartQuiz {
    width: 100vw;
    height: 100vh;
    background-color: #54416e;
    font-family: "poppins", sans-serif;
}

.Column-Right {
    height: 100vh;
    display: flex;
    align-items: end;
}

.Column-Right-Vector {
    width: 100%;
}

.Column-Left {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
}

.Column-Left-Form {
    width: 100%;
    max-width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
    box-shadow: 5px 10px 18px #d3d0d0;
    border-radius: 20px;
}

.Column-Left-Form-Title {
    font-size: 35px;
}

.Column-Left-Form-Label {
    margin-top: 10px;
}

.Columnt-Left-Form-Input {
    width: 100%;
    height: 40px;
}

.Columnt-Left-Form-Submit-Row {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: right;
}

.Columnt-Left-Form-Submit {
    height: 35px;
    width: 99px;
    background-color: #495c83;
    color: #efefef;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.4 ease-in-out !important;
}

.Columnt-Left-Form-Submit:hover {
    background-color: transparent;
    border: 1px solid #495c83;
    color: #495c83;
}

@media screen and (max-width: 992px) {
    .Column-Right {
        display: none;
    }
}
