#FinishQuiz {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcdad0;
    font-family: "poppins", sans-serif;
}

.FinishQuiz-Content-Container {
    width: 100%;
    height: 100vh;
}

.FinishQuiz-Text {
    text-align: center;
    font-weight: 500;
    padding-left: 30px;
    padding-right: 30px;
}

.Column-Container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Finish-Vector {
    width: 95%;
}
