#QuestionPage {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "poppins", sans-serif;
    background: linear-gradient(0deg, rgba(187, 147, 241, 1) 0%, rgba(0, 134, 255, 1) 100%);
}

.QuestionPage-Title {
    text-align: center;
    font-weight: 600;
}

.QuestionPage-Content-Container {
    width: 100%;
    max-width: 800px;
    border: 1px solid red;
    border-radius: 30px;
    padding: 50px;
}

.QuestionPage-CorrectAnswer-Indicator{
    text-align: right;
    font-size: 20px;
    font-weight: 600px;
}

.AnswerButton {
    width: 300px;
    min-height: 60px;
    padding: 20px;
    height: fit-content;
    margin-top: 30px;
    font-size: 15px;
    border-radius: 20px;
    background-color: #d6efed;
    border: 1px solid black;
    font-weight: 500;
}
